<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>RayPulse</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="getArticles($event)">
    <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar [(ngModel)]="search" (ionInput)="rechercheArticles()">
    </ion-searchbar>

    <ion-list>
          <button ion-item *ngFor="let art of article" (click)="itemTapped(art)">
            <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
            <ion-thumbnail item-start>
                <img src="http://vps448699.ovh.net/uploads/img/{{art.image.id}}.{{art.image.url}}" alt="{{art.image.alt}}"/>
            </ion-thumbnail>
                <h2>{{art.title}}</h2>
                <p>{{art.datedebut | date: 'dd/MM/yyyy H:mm' }} à {{art.adresse.code}} </p>
          </button>
        </ion-list>
<!--<ion-card class="card-background-page" *ngFor="let art of article">    
  <img src="http://vps448699.ovh.net/uploads/img/{{art.image.url}}"/>
  <ion-card-content>
    <ion-card-title>
      {{art.title}}
      </ion-card-title>
    <p>
      {{art.content}}
    </p>
  </ion-card-content>
</ion-card>-->
</ion-content>
